repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(src)
  - id: end-of-file-fixer
  - id: check-added-large-files
- repo: local
  hooks:
    - id: cppcheck
      name: cppcheck
      entry: cppcheck
      language: system
      types_or: [c++, c]
      args: ["--error-exitcode=0"]
    - id: cpplint
      name: cpplint
      entry: cpplint
      language: system
      args: ["--exclude=thirdparty/", "--filter=-whitespace/comments,-runtime/references,-whitespace/indent,-whitespace/parens,-whitespace/braces,-whitespace/line_length,-whitespace/newline,-build/include_order,-readability/todo,-build/namespaces"]
    - id: clang-format
      name: clang-format
      entry: clang-format
      exclude: '^thirdparty/'
      language: system
      types_or: [c, c++, cuda]
      args: ["-fallback-style=none", "-style=file", "-i"]
